
# /KNappen_src/
/KNappen_src/*.suo

# /KNappen_src/KNappen/
/KNappen_src/KNappen/*.suo
/KNappen_src/KNappen/packages

# /KNappen_src/KNappen/KNappen.MobileSPA/
/KNappen_src/KNappen/KNappen.MobileSPA/bin
/KNappen_src/KNappen/KNappen.MobileSPA/*.user
/KNappen_src/KNappen/KNappen.MobileSPA/obj

