<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="google.analytics.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net451" userInstalled="true" />
  <package id="jQuery" version="2.1.4" targetFramework="net451" userInstalled="true" />
  <package id="jquery.bbq.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net451" userInstalled="true" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.5" targetFramework="net451" userInstalled="true" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net451" userInstalled="true" />
  <package id="json2" version="1.0.2" targetFramework="net451" userInstalled="true" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net451" userInstalled="true" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net451" userInstalled="true" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.8.2" targetFramework="net451" userInstalled="true" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net451" userInstalled="true" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" userInstalled="true" />
  <package id="Moment.js" version="2.10.3" targetFramework="net451" userInstalled="true" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.0.6" targetFramework="net451" userInstalled="true" />
  <package id="phonegap.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="net451" userInstalled="true" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.2" targetFramework="net451" userInstalled="true" />
  <package id="toastr" version="2.1.1" targetFramework="net451" userInstalled="true" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net451" userInstalled="true" />
  <package id="videojs.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" userInstalled="true" />
</packages>